<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="A1" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss,SSS}] %-5p - %c (%t) %x- %m%n"/>
        </layout>
    </appender>

    <category name="core.server.NSServer">
        <priority value="TRACE"/>
    </category>
    <category name="core.server.command.MsgUserCommandImpl">
        <priority value="TRACE"/>
    </category>
    <category name="core.server.command.WatchLogUserCommandImpl">
        <priority value="TRACE"/>
    </category>
    <category name="core.server.command.StateCommandImpl">
        <priority value="TRACE"/>
    </category>

    <root>
        <priority value="DEBUG"/>
        <appender-ref ref="A1"/>
    </root>

</log4j:configuration>
